.form-container {
  margin-bottom: 20px;
}

.input-field {
  margin-bottom: 10px;
}

.button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

.user-item {
  margin-bottom: 10px;
  padding: 10px;
  background-color: #f2f2f2;
}

.error{
  color: red;
  font-size: small;
}